<div id="loginbox" style="margin-top:20px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
	<div class="panel panel-primary" >
	    <div class="panel-heading">
	        <div class="panel-title"><%= t(".title") %></div>
	    </div>

	    <div class="panel-body" >
	        <!-- <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div> -->

	        <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => "form-horizontal empresa" })  do |f| %>

	            <div style="margin-bottom: 15px" class="input-group">
	                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
	                <%= f.email_field :email, :class => 'form-control', autofocus:true, :placeholder => 'E-mail' %>
	            </div>

	            <div style="margin-bottom: 15px" class="input-group">
	                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
	                <%= f.password_field :password, :class => 'form-control', :placeholder => 'Senha' %>
	            </div>

	            <div class="col-sm-6">
		            <% if devise_mapping.rememberable? -%>
			            <div class="input-group">
			                <label>
			                  <%= f.check_box :remember_me %> <%= f.label :remember_me %>
			                </label>
			            </div>
		            <% end -%>
	            </div>
	            <div class="col-sm-6">
		            <div class="form-group">
		                <div class="">
		                  <%= f.submit t(".submit"), :class => 'btn btn-primary pull-right' %>
		                </div>
		            </div>
	            </div>
	       	<% end %>
	        <div class="row">
						<%= render "devise/shared/links_social" %>
		     	</div>
        </div>
				<div class="panel-footer">
		    		<%= render "devise/shared/links" %>
				</div>
    </div>
</div>
