<div class="page-header">
  <%= link_to plan_classes_path, class: 'btn btn-default' do %>
    <i class='fa fa-list fa-2'></i>
    <%= t('helpers.links.back') %>
  <% end %>
  <%= link_to edit_plan_class_path(@plan_class), class: 'btn btn-primary' do %>
    <i class='fa fa-pencil-square-o fa-2'></i>
    <%= t('helpers.links.edit') %>
  <% end %>
  <h1>Show plan_class</h1>
</div>

<dl class="dl-horizontal">
  <dt>Name:</dt>
  <dd><%= @plan_class.name %></dd>

  <dt>Ano:</dt>
  <dd><%= @plan_class.ano %></dd>

  <dt>Active:</dt>
  <dd><%= @plan_class.active %></dd>

</dl>
