<%= bootstrap_form_for(discipline, local:true) do |form| %>
  <!-- <= render partial: 'shared/error_messages', locals: {obj: @discipline} %> -->
  <%= error_messages_for(discipline) %>

    <%= form.text_field :title, id: :discipline_title, autofocus:true %>
    <%= form.text_area :description, id: :discipline_description %>
    <div class="form-group">
      <%= form.check_box :active, id: :curso_active %>
    </div>

    <%= form.submit %>

<% end %>
