<div class="page-header">
  <%= link_to disciplines_path, class: 'btn btn-default' do %>
    <i class='fa fa-list fa-2'></i>
    Back
  <% end %>
  <%= link_to edit_discipline_path(@discipline), class: 'btn btn-primary' do %>
    <i class='fa fa-pencil-square-o fa-2'></i>
    Edit
  <% end %>
  <h1>Show discipline</h1>
</div>

<dl class="dl-horizontal">
  <dt>Title:</dt>
  <dd><%= @discipline.title %></dd>

  <dt>Sigla:</dt>
  <dd><%= @discipline.sigla %></dd>

  <dt>Active:</dt>
  <dd><%= @discipline.active %></dd>

  <dt>User:</dt>
  <dd><%= @discipline.user %></dd>

</dl>
