<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { multipart: true, :method => :put, :class => "form-horizontal" }) do |f| %>
    <%= devise_error_messages! %>

    <div class="col-md-5 col-md-offset-1 col-sm-6 col-sm-offset-0">
      <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="panel-title"><%= t ".title", resource: (t "activerecord.models.#{resource_name.to_s}") %></div>
        </div>
        <div class="panel-body">


          <div class="form-group">
            <%= f.label :name, :class => 'col-md-3 control-label' %>
            <div class="col-md-9">
              <%= f.text_field :name, :class => 'form-control', autofocus:true, placeholder:true %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :email, :class => 'col-md-3 control-label' %>
            <div class="col-md-9">
              <%= f.email_field :email, :class => 'form-control', placeholder:true %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :password, :class => 'col-md-3 control-label' %>
            <div class="col-md-9">
              <%= f.password_field :password, :class => 'form-control', placeholder:true %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :password_confirmation, :class => 'col-md-3 control-label' %>
            <div class="col-md-9">
              <%= f.password_field :password_confirmation, :class => 'form-control', placeholder:true %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :current_password, :class => 'col-md-3 control-label' %>
            <div class="col-md-9">
              <%= f.password_field :current_password, :class => 'form-control', placeholder:true %>
            </div>
          </div>

          <!-- <div><= f.label :admin %><br />
            <= f.check_box :admin %></div>

          <div><= f.label :perfil_id %><br />
            <= f.collection_select :perfil_id, Perfil.where(idativo:true), :id, :nmperfil, { :prompt =>true }, { :class => 'form-control' } %>
          </div> -->

          <!-- <= f.hidden_field :perfil_id %> -->

          <div class="form-group">
              <div class="col-md-offset-3 col-md-9">
                <%= f.submit :class => 'btn btn-primary' do |b| %>
                  <i class="icon-hand-right"></i> <%= t(".update") %>
                  <!-- <button id="btn-signup" type="button" class="btn btn-info"><i class="icon-hand-right"></i> &nbsp Sign Up</button> -->
                <% end %>
                <!-- <span style="margin-left:8px;">or</span>   -->
              </div>
          </div>



        <hr>

        <div class="col-md-12">
            <!-- <h3><= t(".cancel.title") %></h3> -->
            <%= t(".cancel.message") %>
            <em><%= link_to t(".cancel.action"), registration_path(resource_name), :data => { :confirm => t(".cancel.confirm") }, :method => :delete %>.</em>
            <span class="pull-right"><%= link_to t(".back"), :back %></span>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-5 col-sm-6">

    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">
          <%= f.label :avatar, :class => '' %>
        </h3>
      </div>
      <div class="panel-body">
        <div class="avatar_toggle">
          <%= image_tag resource.avatar_url(:avatar), class: 'img-responsive img-thumbnail center-block' if resource.avatar.url.present? %>
          <%= f.hidden_field :avatar_cache %>
          <%= f.file_field :avatar, :class => 'form-control' %>
        </div>
        <input style="display: none;" type="checkbox" value="1" name="user[remove_avatar]" id="user_remove_avatar">
      </div>
      <div class="panel-footer">
        <a class="btn btn-primary btn-xs btn-remove-image" data-toggle="button" href="#" role="button">
          <span class="glyphicon glyphicon-remove"></span> Excluir avatar
        </a>
      </div>
    </div>

  </div>

<% end %>
