<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :class => "form-horizontal" } )  do |f| %>
  <%= devise_error_messages! %>

  <div class="col-md-offset-1 col-md-6 col-sm-offset-0 col-sm-6">
    <div class="panel panel-primary">
      <div class="panel-heading">
          <div class="panel-title"><%= t(".title") %></div>
      </div>
      <div class="panel-body">

        <div class="form-group">
          <%= f.label :name, :class => 'col-md-3 control-label' %>
          <div class="col-md-9">
            <%= f.text_field :name, :class => 'form-control', autofocus:true, placeholder:'Nome' %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :username, :class => 'col-md-3 control-label' %>
          <div class="col-md-9">
            <%= f.text_field :username, :class => 'form-control', autofocus:true, placeholder:true %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :email, :class => 'col-md-3 control-label' %>
          <div class="col-md-9">
            <%= f.email_field :email, :class => 'form-control', placeholder:'E-mail' %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :password, :class => 'col-md-3 control-label' %>
          <div class="col-md-9">
            <%= f.password_field :password, :class => 'form-control', placeholder:'Senha' %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :password_confirmation, :class => 'col-md-3 control-label' %>
          <div class="col-md-9">
            <%= f.password_field :password_confirmation, :class => 'form-control', placeholder:'Confirmar Senha' %>
          </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-3 col-md-9">
              <%= f.submit :class => 'btn btn-primary' do |b| %>
                <i class="icon-hand-right"></i> <%= t(".submit") %>
                <!-- <button id="btn-signup" type="button" class="btn btn-info"><i class="icon-hand-right"></i> &nbsp Sign Up</button> -->
              <% end %>
              <!-- <span style="margin-left:8px;">or</span>   -->
            </div>
        </div>
      </div>
      <div class="panel-footer">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>


  <div class="col-md-4 col-sm-6">
    <%= render partial: 'devise/shared/avatar_panel', locals: {f: f} %>
  </div>

<% end %>
