<%= bootstrap_form_for(grid, local:true, html: { class: "", role: "form" }) do |f| %>
  <%= error_messages_for(grid) %>

      <div class="row">
        <div class="col-md-3">
          <%= f.text_field :year, id: :grid_year, autofocus:true %>
        </div>
        <div class="col-md-6">
          <%= f.select :course_id, @cursos.collect { |c| ["#{c.sigla} - #{c.name}", c.id] }, id: :grid_course, prompt: true %>
        </div>
        <div class="col-md-3">
          <label for="">Situação</label>
          <%= f.check_box :active, id: :grid_active %>
        </div>
      </div>

      <%= link_to_add_association 'Adicionar disciplina', f, :grid_disciplines,
      'data-association-insertion-node' => '#grid_disciplines',
      'data-association-insertion-method' => 'append'
      %>


      <div class="collapse-group">
        <fieldset id="grid_disciplines">
          <%= f.fields_for :grid_disciplines do |builder| %>
             <%= render partial: 'grid_discipline_fields', locals: { f: builder } %>
          <% end %>
        </fieldset>
      </div>

<% end %>
