<%= bootstrap_form_for(grid, local:true, html: { class: "", role: "form" }) do |f| %>
  <%= error_messages_for(grid) %>

    <%= f.select :year, (Time.zone.now.year - 50)..(Time.zone.now.year + 2), id: :grid_year, autofocus:true, prompt:true %>
    <%= f.select :course_id, @cursos.collect { |c| ["#{c.sigla} - #{c.name}", c.id] }, id: :grid_course, prompt: true %>
    <%= f.check_box :active, id: :grid_active %>

    <hr>

    <%= link_to_add_association 'Adicionar disciplina', f, :grid_disciplines,
      'data-association-insertion-node' => '#grid_disciplines',
      'data-association-insertion-method' => 'append'
     %>

     <div class="collapse-group">
       <fieldset id="grid_disciplines">
         <%= f.fields_for :grid_disciplines do |builder| %>
            <%= render partial: 'grid_discipline_fields', locals: { f: builder } %>
         <% end %>
       </fieldset>
     </div>

  <%= f.submit class: "btn btn-primary" %>
<% end %>
