<div class="control-group nested-fields">
  <div class="panel panel-default">
    <div class="panel-heading clearfix">
      <h3 class="panel-title">
        <%= link_to_remove_association "<i class='fa fa-times text-danger' aria-hidden='true'></i>".html_safe, f %> |
        <a role="button" data-toggle="collapse" href="#collapse" aria-expanded="false" aria-controls="collapse" class="trigger collapsed">
          Detalhes da disciplina
        </a>
      </h3>
    </div>
    <div id="collapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne" aria-expanded="false" style="height: 0px;">
      <div class="panel-body">
        <div class="controls">
          <div class="row">
            <div class="col-md-6">
              <%= f.text_field :year, id: :grid_year %>
            </div>
            <div class="col-md-6">
              <%= f.select :discipline_id, @disciplinas.collect { |c| [c.title, c.id] }, id: :discipline_id, prompt: true %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <%= f.text_area :ementa, id: :grid_discipline_ementa %>
            </div>
            <div class="col-md-6">
              <%= f.text_area :objetivo_geral, id: :grid_discipline_objetivo_geral %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <%= f.text_area :bib_geral, id: :grid_discipline_bib_geral %>
            </div>
            <div class="col-md-6">
              <%= f.text_area :bib_espec, id: :grid_discipline_bib_espec %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
