<div class="control-group nested-fields">
  <div class="panel panel-default">
    <div class="panel-heading clearfix">
      <h3 class="panel-title">
        <%= link_to_remove_association "<i class='fa fa-times text-danger' aria-hidden='true'></i>".html_safe, f %> |
        <a role="button" data-toggle="collapse" href="#collapse" aria-expanded="false" aria-controls="collapse" class="trigger collapsed">
          Componente curricular
        </a>
      </h3>
    </div>
    <div id="collapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne" aria-expanded="false" style="height: 0px;">
      <div class="panel-body">
        <div class="controls">
          <div class="row">
            <div class="col-md-3">
              <%= f.select :discipline_id, @disciplinas.collect { |c| [c.title, c.id] }, {id: :grid_discipline_id, prompt: true}, { class: 'select-discipline'} %>
            </div>
            <div class="col-md-3">
              <%= f.number_field :year, id: :grid_discipline_year, class: 'grid_discipline_year', placeholder:'1,2,3...' %>
            </div>
            <div class="col-md-3">
              <%= f.number_field :semestre, id: :grid_discipline_semestre, class: 'grid_discipline_semestre', placeholder:'1,2,3...' %>
            </div>
            <div class="col-md-3">
              <%= f.text_field :carga_horaria, id: :grid_discipline_carga_horaria, class: 'grid_discipline_carga_horaria' %>
            </div>
          </div>

          <%= f.text_area :ementa, id: :grid_discipline_ementa, rows: 8, :data => {provider: :none} %>
          <%= f.text_area :objetivo_geral, id: :grid_discipline_objetivo_geral, rows: 8, :data => {provider: :none} %>
          <%= f.text_area :bib_geral, id: :grid_discipline_bib_geral, rows: 8, :data => {provider: :none} %>
          <%= f.text_area :bib_espec, id: :grid_discipline_bib_espec, rows: 8, :data => {provider: :none} %>
        </div>
      </div>
    </div>
  </div>
</div>
