<div class="row">

  <% if user_signed_in? %>

      <div class="<%= @class_panel1 %>">
        <%= render 'visitors/pesquisar/form' %>
      </div>

      <div class="<%= @class_panel2 %>">
        <!-- <= render 'meus_planos' %> -->
        <%= render 'planos_aprovar_status' %>
      </div>

  <% else %>

    <div class="<%= @class_panel1 %>">
      <%= render 'visitors/pesquisar/form' %>
    </div>

  <% end %>

</div>
