<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">
      <%= f.label :avatar, :class => '' %>
    </h3>
  </div>
  <div class="panel-body">
    <div class="avatar_toggle">
      <%= image_tag resource.avatar_url(:avatar), class: 'img-responsive img-thumbnail center-block' if resource.avatar.url.present? %>
      <%= gravatar_url resource.email, 140, 'img-responsive img-thumbnail center-block' if !resource.avatar.url.present? %>
      <hr>
      <%= f.hidden_field :avatar_cache %>
      <%= f.file_field :avatar, :class => 'form-control' %>
    </div>
    <div class="form-group">
      <input style="display: none;" type="checkbox" value="1" name="user[remove_avatar]" id="user_remove_avatar">
    </div>
  </div>
  <div class="panel-footer">
    <a class="btn btn-danger btn-xs btn-remove-image" data-toggle="button" href="#" role="button">
      <i class="fa fa-trash-o fa-2"></i>
      <span>Excluir avatar</span>
    </a>
  </div>
</div>
