<td><%= user.name %></td>
<td><%= user.username %></td>
<td><%= link_to user.email, user %></td>
<td>
  <%= render 'user_perfis' %>
</td>
<td>
  <%= link_to( t('helpers.links.destroy'), user_path(user), :data => { :confirm => "Tem certeza?" }, :method => :delete, :class => 'btn btn-sm btn-danger') unless user == current_user %>
</td>
