<%- model_class = User -%>



<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Profile</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-8">

        <% if @user.name %>
          <p class="row">
            <strong class="col-md-2"><%= model_class.human_attribute_name(:name) %>: </strong>
            <span class="col-md-10">
              <span><%= @user.name %></span>
            </span>
          </p>
        <% end %>

        <% if @user.username %>
          <p class="row">
            <strong class="col-md-2"><%= model_class.human_attribute_name(:username) %>: </strong>
            <span class="col-md-10">
              <span><%= @user.username %></span>
            </span>
          </p>
        <% end %>

        <% if @user.email %>
          <p class="row">
            <strong class="col-md-2"><%= model_class.human_attribute_name(:email) %>: </strong>
            <span class="col-md-10">
              <span><%= mail_to @user.email %></span>
            </span>
          </p>
        <% end %>

        <% unless @user.perfils.empty? %>
        <p class="row">
          <strong class="col-md-2"><%= model_class.human_attribute_name(:perfis) %>: </strong>
          <span class="col-md-10">
            <% @user.perfils.each do |perfil| %>
            <span class="badge"><%= perfil.name %></span>
            <% end %>
          </span>
        </p>
        <% end %>

        <% unless @user.bio.nil? && @user.bio.blank? %>
          <p class="row">
            <strong class="col-md-2"><%= model_class.human_attribute_name(:bio) %>: </strong>
            <span class="col-md-10 border border-primary" style="height: 150px; max-height: 150px; overflow-y: auto;">
              <%= @user.decorate.bio %>
            </span>
          </p>
        <% end %>

      </div>
      <div class="col-md-4">
        <%= image_tag @user.avatar.url(:thumb), class: 'img-thumbnail border border-primary pull-right' %>
      </div>

    </div>

  </div>
  <!-- < if is_admin? && !@user.eql?(current_user) %>
    <div class="panel-footer">
      <= link_to registration_path(@user), :data => { :confirm => t("devise.registrations.edit.cancel.confirm") }, :method => :delete, class: 'btn btn-xs btn-danger' do %>
      <= t "devise.registrations.edit.cancel_my_account" %>
      < end %>
    </div>
  < end %> -->
</div>

<% if (can? :edit, User) %>
<!-- < if can? :manage, User %> -->
  <%= bootstrap_form_for(@user, remote:false) do |f| %>
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">Atualizar profile</h3>
      </div>
      <div class="panel-body">
        <%= error_messages_for(@user) %>

        <div class="col-md-6">
          <div class="form-group">
            <!-- <= f.label :perfil_ids %> -->
            <%= f.text_field :name, class: "form-control", placeholder:true %>
          </div>

          <div class="form-group">
            <!-- <= f.label :perfil_ids %> -->
            <%= f.text_field :email, class: "form-control", placeholder:true, help: 'Ao alterar o e-mail, o usuário receberá um e-mail para confirmação.' %>
          </div>

          <div class="form-group">
            <!-- <= f.label :perfil_ids %> -->
            <%= f.select(:perfil_ids, Perfil.all.collect {|a| [a.name, a.id]}, {}, class: "select2 form-control", :multiple => true) %>
            <!-- <= f.collection_select :perfil_ids, Perfil.order(:name), :id, :name, {id: :role_ids },  { class: 'multiselect', multiple:true } %> -->
          </div>

          <div class="form-group">
            <% unless @user.invitation_token.nil? %>
              <%= label_tag 'Reenviar convite por e-mail' %>
              <%= check_box_tag :send_invite, true, false %>
            <% end %>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <%= f.password_field :password, :class => 'form-control', placeholder:true %>
          </div>

          <div class="form-group">
            <%= f.password_field :password_confirmation, :class => 'form-control', placeholder:true %>
          </div>
        </div>

      </div>
      <div class="panel-footer">
        <%= f.submit :class => 'btn btn-primary btn-sm' %>
        <%= link_to t('helpers.links.back'), users_path %>
      </div>
    </div>
  <% end %>
<% end %>
