<h3>User</h3>
<p>Name: <%= @user.name if @user.name %></p>
<p>Email: <%= @user.email if @user.email %></p>

<%= form_for(@user)  do |f| %>

  <div class="input-group">
    <div class="input-group-btn">
      <%= f.submit :class => 'btn btn-primary btn-sm' %>
    </div>
    <%= f.select(:perfil_ids, Perfil.all.collect {|a| [a.name, a.id]}, {}, class: "select2 form-control", :multiple => true) %>
  </div>
<% end %>

<hr>
<%= image_tag @user.avatar.url(:medium) %>
