<%= form_with(url: ofertas_coordenador_path, local:true, method: :post) do |f| %>

  <div class="form-group">
    <%= label_tag :curso, '* Curso' %>
    <%= select_tag :curso, options_from_collection_for_select(@cursos, "id", "name", params[:curso]), id: :curso, class: 'form-control', prompt:'Selecione o curso', required:true, autofocus:true %>
  </div>

  <div class="form-group">
    <%= label_tag :turma, 'Turma' %>
    <%= select_tag :turma, options_for_select(@turmas, params[:turma]), id: :turma, class: 'form-control', prompt:'Turma' %>
  </div>

  <div class="form-group">
    <%= label_tag :ano, 'Ano da oferta' %>
    <%= select_tag :ano, options_for_select(@anos, params[:ano]), id: :ano, class: 'form-control', prompt:'Ano' %>
  </div>

  <div class="form-group">
    <%= label_tag :semestre, 'Semestre da oferta' %>
    <%= select_tag :semestre, options_for_select(@semestres, params[:semestre]), id: :semestre, class: 'form-control', prompt:'Semestre' %>
  </div>


  <!-- <div class="form-group col-md-12">
    <= f.check_box :analise, id: :plan_analise %>
    <= f.label :analise %>
    <= f.check_box :aprovado, id: :plan_aprovado %>
    <= f.label :aprovado %>
    <= f.check_box :reprovado, id: :plan_reprovado %>
    <= f.label :reprovado %>
  </div> -->

  <div class="form-group">
    <%= f.submit 'Pesquisar', class: 'btn btn-search btn-sm btn-block btn-primary' %>
  </div>
<% end if !cursos_coordenador.empty? %>
