<% plano = od.plans.order(versao: :desc).first unless od.plans.empty? %>
<tr>
  <td><%= od.grid_discipline.discipline.decorate.title %></td>
  <% if od.user.nil? %>
    <td><span class="label label-danger" style="font-size: 14px;">Não possui</span></td>
  <% else %>
    <td><%= od.user.name %></td>
  <% end %>
  <% if plano.nil? %>
    <td><span class="label label-danger" style="font-size: 14px;">Não possui</span></td>
  <% else %>
    <td><%= plano.decorate.situacao %></td>
  <% end %>
  <td>
    <% if !plano.nil? %>
      <%= plano.decorate.link_show 'btn-xs' %>
      <%= plano.decorate.link_pdf 'btn-xs' %>
    <% end %>
    <% if !od.user.nil? && (plano.nil? || (!plano.nil? && !plano.user.nil? && !plano.aprovado?)) %>
      <%= link_to coor_enviar_aviso_plano_pendente_path(offer_discipline_id: od), class: "btn btn-warning btn-xs", remote:true do %>
        Avisar professor
        <i class="fa fa-send"></i>
      <% end %>
    <% end %>
  </td>
</tr>
