<% if resultado.nil? || resultado.empty? %>
  <p class="alert alert-warning">Nenhum plano de ensino encontrado com os parâmetros informados.</p>
<% else %>
  <% resultado.each do |oferta| %>
    <div class="panel panel-default">
      <div class="panel-heading clearfix">
        <h3 class="panel-title">
          <strong><%= oferta.grid.course.name %></strong>
          <span class="pull-right">
            <%= link_to coor_enviar_aviso_planos_pendentes_path(offer_id: oferta), class: "btn btn-warning btn-xs", remote:true, id: "avisar_professores_#{oferta.id}" do %>
              <span title="Apenas para disciplinas pendentes">Avisar professores</span>
              <i class="fa fa-send"></i>
            <% end %>
          </span>
          <span class="pull-right">
            <%= link_to gerar_planos_lote_offer_path(oferta, format: :pdf), method: :post, class: "btn btn-default btn-xs" do %>
              Gerar todos os planos
              <i class="fa fa-gear"></i>
            <% end %>
          </span>
        </h3>
        <small><%= "Ano/Semestre: #{oferta.decorate.ano_semestre}" %></small>
      </div>
      <div class="panel-body">
        <table class='table table-striped table-bordered table-condensed'>
          <thead class="alert alert-info">
            <tr>
              <th>Disciplina</th>
              <th>Professor</th>
              <th class="text-center">Situação do plano</th>
              <th class="text-center">Detalhes</th>
              <th class="text-center">PDF</th>
              <th class="text-center">Aviso</th>
            </tr>
          </thead>
          <tbody>
              <% oferta.offer_disciplines.each do |od| %>
                <%= render 'offers/coordenador/resultado_item', od: od %>
              <% end %>
          </tbody>
        </table>
      </div>
    </div>
  <% end %>
<% end %>
