<%- model = Curso -%>

<div class='table-responsive'>
  <%= content_tag :table, id: "cursos_datatable", class: 'table table-striped table-bordered', role: :datatable, data: { url: cursos_path(format: :json)} do %>
    <thead>
      <tr>
        <th><%= model.human_attribute_name(:id) %></th>
        <th><%= model.human_attribute_name(:title) %></th>
        <th><%= model.human_attribute_name(:sigla) %></th>
        <th><%= model.human_attribute_name(:description) %></th>
        <th class="text-center"><%= model.human_attribute_name(:idativo) %></th>
        <th><%=t '.actions', :default => t("helpers.actions") %></th>
      </tr>
    </thead>
    <tbody></tbody>
  <% end %>
</div>
