<%- model = GridDiscipline %>

<div class="well well-sm">
  <%= link_to grid_path(@grid_discipline.grid.id), class: 'btn btn-xs btn-default' do %>
    <i class='fa fa-list fa-2'></i>
    <%= t('helpers.links.back') %>
  <% end %>
  <%= link_to edit_grid_path(@grid_discipline.grid.id), class: 'btn btn-xs btn-primary' do %>
    <i class='fa fa-pencil-square-o fa-2'></i>
    <%= t('helpers.links.edit') %>
  <% end %>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      <%= "#{@grid_discipline.discipline.sigla} - #{@grid_discipline.discipline.title}" %>
      <span class="pull-right"><%= @grid_discipline.year %></span>
    </h3>
  </div>
  <div class="panel-body">
    <div class="list-group">
      <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">
          <%= model.human_attribute_name(:ementa) %>
        </h4>
        <p class="list-group-item-text text-justify"><%= @grid_discipline.ementa.html_safe %></p>
      </a>
      <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">
          <%= model.human_attribute_name(:objetivo_geral) %>
        </h4>
        <p class="list-group-item-text text-justify"><%= @grid_discipline.objetivo_geral.html_safe %></p>
      </a>
      <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">
          <%= model.human_attribute_name(:bib_geral) %>
        </h4>
        <p class="list-group-item-text text-justify"><%= @grid_discipline.bib_geral.html_safe %></p>
      </a>
      <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">
          <%= model.human_attribute_name(:bib_espec) %>
        </h4>
        <p class="list-group-item-text text-justify"><%= @grid_discipline.bib_espec.html_safe %></p>
      </a>
    </div>
  </div>
</div>
