<ol class="breadcrumb">
  <li>Step 1</li>
  <li>Step 2</li>
  <li class='active'>Step 3</li>
  <li>Step 4</li>
</ol>

<p>Grade: <%= @offer_wizard.grid_id unless @offer_wizard.nil? %></p>
<p>Ano: <%= @offer_wizard.grid_year unless @offer_wizard.nil? %></p>
<p>Semestre: <%= @offer_wizard.grid_semestre unless @offer_wizard.nil? %></p>
<p>Disciplinas: <%= @grid_disciplines.count %></p>

<%= bootstrap_form_for @offer_wizard, as: :offer_wizard, url: validate_step_wizard_path do |f| %>
  <%= hidden_field_tag :current_step, 'step3' %>
  <%= error_messages_for(@offer_wizard) %>

  <%= f.fields_for :offer_disciplines do |builder| %>
    <%= render partial: 'step3_item', locals: { form: builder } %>
  <% end %>
  <%= f.submit 'Continue' %>
<% end %>
