<ol class="breadcrumb">
  <li class="active"><%= link_to 'Passo 1', step1_wizard_path %></li>
  <li><%= link_to 'Passo 2', step2_wizard_path %></li>
  <li><%= link_to 'Passo 3', step3_wizard_path %></li>
  <li><%= link_to 'Passo 4', step4_wizard_path %></li>
</ol>

<%= bootstrap_form_for @offer_wizard, as: :offer_wizard, local:true, url: validate_step_wizard_path do |f| %>
  <%= hidden_field_tag :current_step, 'step1' %>
  <%= error_messages_for(@offer_wizard) %>

  <%= f.select :grid_id, options_for_select(@grades.collect { |c| ["#{c[4]} - #{c[3]} (Ano/semestre: #{c[1]}/#{c[2]})", "#{c[0]}" ]}),
    id: :grid_id, prompt:true %>

  <%= f.submit 'Continue' %>
<% end %>
