<%= content_for :title, 'Analisar plano de ensino' %>

<h4>Um plano de ensino foi recebido para ser analisado.</h4>

<h3>
  <%= link_to "Analisar plano", offer_offer_discipline_plan_url(
      id: @args[:id],
      offer_discipline_id: @args[:offer_discipline_id],
      offer_id: @args[:offer_id]
    ) %>
</h3>

<hr>

<h3>Detalhes</h3>
<dl class="dl-horizontal">
  <dt>Curso</dt>
  <dd><%= @args[:curso] %></dd>
  <dt>Disciplina</dt>
  <dd><%= @args[:disciplina] %></dd>
  <dt>Turma</dt>
  <dd><%= @args[:turma] %></dd>
  <dt>Professor</dt>
  <dd><%= @args[:professor] %></dd>
  <dt>Versão</dt>
  <dd><%= @args[:versao] %></dd>
  <dt>Dt. Criação</dt>
  <dd><%= @args[:dtcreated] %></dd>
</dl>
