<%= content_for :title, 'Seu plano de ensino foi analisado' %>

<h4>Seu plano de ensino foi analisado pelo setor responsável.</h4>

<h3>
  <%= link_to "Mais detalhes", offer_offer_discipline_plan_url(
      id: @plan.id,
      offer_discipline_id: @plan.offer_discipline_id,
      offer_id: @plan.offer_discipline.offer_id
    ) %>
</h3>

<hr>

<h3>Resumo</h3>

<dl class="dl-horizontal">
  <dt>Curso</dt>
  <dd><%= "#{@plan.offer_discipline.grid_discipline.grid.course.sigla} - #{@plan.offer_discipline.grid_discipline.grid.course.decorate.name}" %></dd>
  <dt>Disciplina</dt>
  <dd><%= @plan.offer_discipline.grid_discipline.discipline.decorate.title %></dd>
  <dt>Turma</dt>
  <dd><%= @plan.offer_discipline.offer.turma %></dd>
  <dt>Professor</dt>
  <dd><%= @plan.user.name %></dd>
  <dt>Versão</dt>
  <dd><%= @plan.decorate.versao %></dd>
  <dt>Dt. Criação</dt>
  <dd><%= @plan.created_at.strftime('%d/%m/%Y') %></dd>
</dl>

<hr>

<dl class="dl-horizontal">
  <dt>Analisado por</dt>
  <dd><%= @plan.user_parecer.name %></dd>
  <dt>Situação</dt>
  <dd><%= @plan.decorate.situacao_texto %></dd>
  <dt>Parecer</dt>
  <dd style="max-height: 200px; overflow-y: auto;"><%= @plan.parecer %></dd>
</dl>
