<%= bootstrap_form_for(perfil, local:true) do |form| %>
  <!-- <= render partial: 'shared/error_messages', locals: {obj: @perfil} %> -->
  <%= error_messages_for(perfil) %>

    <%= form.text_field :name, id: :perfil_title, autofocus:true %>
    <div class="form-group">
      <%= form.check_box :idativo, id: :perfil_idativo %>
    </div>

    <%= form.submit %>

<% end %>
