<div class="row">
	<div class="col-md-8">

		<%= render 'visitors/pesquisar/form' %>

	</div>
	<div id="loginbox" class="mainbox col-md-4">
		<div class="panel panel-primary" >
	    <div class="panel-heading">
	        <div class="panel-title"><%= t(".title") %></div>
	    </div>

	    <div class="panel-body" >
	        <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => "form-horizontal" })  do |f| %>

						<div class="col-md-12">
							<div class="form-group">
		    				<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-user fa-2"></i></span>
									<%= f.text_field :login, :class => 'form-control', autofocus:true, placeholder:true %>
								</div>
							</div>
						</div>

						<div class="col-md-12">
							<div class="form-group">
		            <div class="input-group">
		                <span class="input-group-addon"><i class="fa fa-lock fa-2"></i></span>
		                <%= f.password_field :password, :class => 'form-control', :placeholder => 'Senha' %>
		            </div>
							</div>
						</div>

						<div class="col-md-6">
	            <% if devise_mapping.rememberable? -%>
		            <div class="input-group">
	                <label>
	                  <%= f.check_box :remember_me, checked:true %> <%= f.label :remember_me %>
	                </label>
		            </div>
	            <% end -%>
						</div>

						<div class="col-md-6">
							<%= button_tag(type: "submit", class: "btn btn-sm btn-primary pull-right") do %>
						    <i class="fa fa-sign-in"></i>
								<%= t '.submit' %>
						<% end %>
						</div>

					<% end %>

					<%= render "devise/shared/links_social" %>
        </div>
				<div class="panel-footer">
		    		<%= render "devise/shared/links" %>
				</div>
	    </div>
	</div>
</div>
