<%= bootstrap_form_for(offer, local:true, html: { class: "", role: "form" }) do |f| %>
  <%= error_messages_for(offer) %>

  <div class="row">
    <div class="col-md-4">
      <%= f.select :type_offer, Offer.offer_types.keys, id: :offer_type, prompt: true, autofocus:true %>
    </div>
    <!-- <div class="col-md-4">
      <= f.select :course_id, @cursos.collect { |c| [c.name, c.id] }, id: :offer_course_id, prompt: true %>
    </div> -->
    <div class="col-md-4">
      <%= f.number_field :year, id: :offer_year, placeholder:true %>
    </div>
    <div class="col-md-4">
      <%= f.number_field :semestre, id: :offer_semestre, placeholder:'1,2,3...' %>
    </div>
    <div class="col-md-12">
      <%= f.label :grid_id %>
      <%= f.select :grid_id, options_for_select(@grades.collect { |c| ["#{c[4]} - #{c[3]} (Ano/semestre: #{c[1]}/#{c[2]})", "#{c[0]}_#{c[1]}_#{c[2]}" ]}),
        data: { remote: true, url: load_grid_offers_path, method: :patch },
        id: :offer_grid_id, class: 'form-control', prompt:'Selecione a grade' %>
    </div>
  </div>

  <hr>

  <div id="grid_disciplines_partial"></div>

  <%= f.submit class: "btn btn-primary" %>
<% end %>
