<%= bootstrap_form_for(offer, local:true, label_errors: true, inline_errors: true, html: { class: "", role: "form" }) do |f| %>
  <%= error_messages_for(offer) %>
  <%= hidden_field_tag :grid_alterando, false %>

    <div class="row">
      <div class="form-group">
        <div class="form-group col-md-9">
          <%= f.label :grid_id %>
          <%= select_tag :grid_id, options_for_select(@grades.collect { |c| ["#{c.course.name} - #{c.year}", c.id ]}, params[:grid_id]),
            data: { remote: true, url: load_grid_offers_path, method: :patch },
            id: :grid_id, class: 'form-control', prompt:'Selecione a grade', required:true, autofocus:true %>
          <!-- <= select_tag :grid_id, options_for_select(@grades.collect { |c| ["#{c[4]} - #{c[3]} (Ano/semestre: #{c[1]}/#{c[2]})", "#{c[0]}" ]}, params[:grid_id]),
            data: { remote: true, url: load_grid_offers_path, method: :patch },
            id: :grid_id, class: 'form-control', prompt:'Selecione a grade', required:true %> -->
        </div>
        <div class="form-group col-md-3" id="grid_ano_semestre_partial">
          <%= render partial: 'grid_ano_semestre', locals: {} %>
        </div>
      </div>
    </div>

    <div class="row">

      <div class="col-md-3">
        <%= f.select :type_offer, Offer.offer_types.keys, {id: :type_offer, prompt: true} %>
      </div>
      <div class="col-md-3">
        <%= f.select :turma_id, Turma.where(active:true).collect { |c| ["#{c.year} - #{c.name}", c.id] },
          { prompt:true, id: :offer_turma_id },{ class: '' } %>
      </div>
      <div class="col-md-3">
        <%= f.number_field :year, id: :offer_year, placeholder:true %>
      </div>
      <div class="col-md-3">
        <%= f.number_field :semestre, id: :offer_semestre, placeholder:'1,2,3...' %>
      </div>

      <div class="form-group col-md-12">
        <%= f.submit class: "btn btn-primary" %>
      </div>

  </div>

  <hr>

  <div id="grid_disciplines_partial">
    <%= render partial: 'grid_disciplines_teacher', locals: {f: f, offer: offer} %>
  </div>

<% end %>
