<%- model = Offer %>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      <%= t('helpers.titles.edit', model: model.model_name.human.downcase) %>
    </h3>
  </div>
  <div class="panel-body">
    <%= render 'form', offer: @offer %>
  </div>
  <div class="panel-footer">
    <!-- <= link_to t('helpers.links.back'), discipline_path %> -->
    <%= link_to offers_path, class: 'btn btn-sm btn-default' do %>
      <i class='fa fa-list fa-2'></i>
      <%= t('helpers.links.back') %>
    <% end %>
    <%= link_to @offer, class: 'btn btn-sm btn-info' do %>
      <i class="fa fa-info fa-2" aria-hidden="true"></i>
      <%= t('helpers.links.show') %>
    <% end %>
  </div>
</div>
