<div class="page-header">
  <%= link_to offers_path, class: 'btn btn-default' do %>
    <i class='fa fa-list fa-2'></i>
    <%= t('helpers.links.back') %>
  <% end %>
  <%= link_to edit_offer_path(@offer), class: 'btn btn-primary' do %>
    <i class='fa fa-pencil-square-o fa-2'></i>
    <%= t('helpers.links.edit') %>
  <% end %>
  <h1>Show offer</h1>
</div>

<dl class="dl-horizontal">
  <dt>Year:</dt>
  <dd><%= @offer.year %></dd>

  <dt>Semestre:</dt>
  <dd><%= @offer.semestre %></dd>

  <dt>Type:</dt>
  <dd><%= @offer.type_offer %></dd>

  <dt>Course:</dt>
  <dd><%= @offer.grid.course %></dd>

</dl>

<hr>

<%= bootstrap_form_for(@offer, local:true, html: { class: "", role: "form" }) do |f| %>
  <%= error_messages_for(@offer) %>

  <table class='table table-striped table-bordered table-hover table-condensed'>
    <thead>
      <tr>
        <th>Disciplina</th>
        <th>Professor</th>
      </tr>
    </thead>
    <tbody>
      <%= f.fields_for :offer_disciplines do |g| %>
        <tr>
          <td><%= g.object.grid_discipline.discipline.title %></td>
          <td><%= g.select :user_id, options_for_select(User.where(teacher:true).collect { |c| [c.name, c.id ]}), prompt:true %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= f.submit 'Vincular professores' %>

<% end %>
