<%- model = CourseModality %>

<div class="panel panel-default">
  <div class="panel-heading clearfix">
    <h3 class="panel-title pull-left">
      <%= link_to new_course_modality_path do %>
        <i class="fa fa-plus" aria-hidden="true"></i>
      <% end %>
      <%= t '.title', :default => model.model_name.human %>
    </h3>
    <div class="pull-right">

    </div>
  </div>
  <div class="panel-body">
    <div class="table-responsive">
      <%= content_tag :table, id: "course_modalities_datatable", class: 'table table-striped table-bordered', role: :datatable, data: { url: course_modalities_path(format: :json)} do %>
        <thead>
          <tr>
            <th><%= model.human_attribute_name(:id) %></th>
            <th><%= model.human_attribute_name(:sigla) %></th>
            <th><%= model.human_attribute_name(:description) %></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody></tbody>
      <% end %>
    </div>
  </div>
  <div class="panel-footer clearfix">
    <div class="">
      <%= link_to new_course_modality_path do %>
        <i class="fa fa-plus" aria-hidden="true"></i>
        <%= t('.new', :default => t("helpers.titles.newa", model: model.model_name.human.downcase )) %>
      <% end %>
    </div>
    <div class="pull-right">

    </div>
  </div>
</div>
