<%= bootstrap_form_for(coordenador, local:true, inline_errors:false, html: { class: "", role: "form" }) do |f| %>
  <%= error_messages_for(coordenador) %>

  <div class="row">
    <div class="col-md-4">
      <%= f.select :user_id,
          User.where.not(confirmed_at: nil).order(:name).collect { |c| ["#{c.name} - #{c.siape}", c.id] },
          { id: :coordenador_user, prompt:true },
          { class: 'form-control select2', autofocus:true } %>
    </div>
    <div class="col-md-4">
      <%= f.text_field :funcao, id: :coordenador_funcao, placeholder:true %>
    </div>
    <div class="col-md-4">
      <%= f.text_field :email, id: :coordenador_email, placeholder:true %>
    </div>

    <div class="col-md-6">
      <%= f.select :course_id, Course.where(active:true).order(:name).collect { |c| [c.name, c.id] }, id: :coordenador_course, prompt:true %>
    </div>
    <div class="col-md-3">
      <%= f.text_field :dtinicio, 
        value: (@coordenador.dtinicio.strftime('%d/%m/%Y') unless @coordenador.dtinicio.nil?),
        :data => {:provider => 'datepicker'}, autocomplete: 'off', 
        id: :coordenador_dtinicio, prompt: true, placeholder: true %>
    </div>
    <div class="col-md-3">
      <%= f.text_field :dtfim, 
        value: (@coordenador.dtfim.strftime('%d/%m/%Y') unless @coordenador.dtfim.nil?),
        :data => {:provider => 'datepicker'}, autocomplete: 'off', 
        id: :coordenador_dtfim, prompt: true, placeholder: true %>
    </div>
    <div class="col-md-12">
      <%= f.check_box :titular, id: :coordenador_titular %>
      <!--<= f.check_box :responsavel, id: :coordenador_responsavel %> -->
    </div>

  </div>

  <hr>

  <div class="row">
    <div class="col-md-12">
      <%= f.submit class: 'btn btn-primary' %>
    </div>
  </div>

<% end %>
