<%= bootstrap_form_for(plan, url: url, local:true, html: { class: "", role: "form", id: 'plans_form' }) do |f| %>
  <%= error_messages_for(plan) %>

  <%= f.hidden_field :versao %>

  <div class="row">
    <div class="col-md-9 col-lg-9">

      <div class="col-md-12">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#ementa" data-toggle="tab">Ementa</a></li>
          <li><a href="#objetivos" data-toggle="tab">Objetivos</a></li>
          <li><a href="#conteudos" data-toggle="tab">Conteúdo</a></li>
          <li><a href="#pratica" data-toggle="tab">Prática</a></li>
          <li><a href="#metodologias" data-toggle="tab">Metodologias</a></li>
          <li><a href="#avaliacao" data-toggle="tab">Avaliação/<br>Recuperação</a></li>
          <li><a href="#interdisci" data-toggle="tab">Interdisciplinaridade</a></li>
          <li><a href="#cronograma" data-toggle="tab">Cronograma</a></li>
          <li><a href="#info_adicionais" data-toggle="tab">Observações</a></li>
          <li><a href="#atendimento" data-toggle="tab">Atendimento AA</a></li>
          <li><a href="#referencias" data-toggle="tab">Referências</a></li>
        </ul>
      </div>

      <div class="col-md-12">
        <hr style="margin-top: 5px; margin-bottom: 10px;">
        <div class="tab-content">
          <div id="ementa" class="tab-pane fade in active">
            <% if plan.offer_discipline.grid_discipline.discipline.especial? %>
              <!-- <= f.fields_for :offer_discipline do |a| %>
                <= a.fields_for :grid_discipline do |b| %>
                  <= b.text_area :ementa, id: :plan_offer_discipline_grid_discipline_ementa, rows: 8, data: {provider: :none} %>
                < end %>
              < end %> -->
              <%= label_tag :ementa, t('activerecord.attributes.grid_discipline.ementa'), class: 'control-label' %>
              <%= text_area_tag :ementa, params[:ementa] || plan.offer_discipline.grid_discipline.ementa, id: :plan_ementa, rows: 8, data: {provider: :none}, class: 'form-control', placeholder: 'Ementa do componente curricular', autofocus:true %>
            <% else %>
              <div class="form-group">
                <div class="html_safe_div">
                  <p class="header"><%= label_tag :ementa, t('activerecord.attributes.grid_discipline.ementa'), class: 'control-label' %></p>
                  <%= plan.offer_discipline.grid_discipline.decorate.ementa %>
                </div>
              </div>
            <% end %>
          </div>

          <div id="objetivos" class="tab-pane fade in">
            <% if plan.offer_discipline.grid_discipline.discipline.especial? %>
              <%= label_tag :objetivo_geral, t('activerecord.attributes.grid_discipline.objetivo_geral'), class: 'control-label' %>
              <%= text_area_tag :objetivo_geral, params[:objetivo_geral] || plan.offer_discipline.grid_discipline.objetivo_geral, id: :plan_objetivo_geral, rows: 8, data: {provider: :none}, class: 'form-control', placeholder: 'Objetivo geral do componente curricular', autofocus:true %>
            <% else %>
              <div class="form-group">
                <div class="html_safe_div">
                  <p class="header"><%= label_tag :objetivo_geral, t('activerecord.attributes.grid_discipline.objetivo_geral'), class: 'control-label' %></p>
                  <%= plan.offer_discipline.grid_discipline.decorate.objetivo_geral.html_safe %>
                </div>
              </div>
            <% end %>

            <%= f.text_area :obj_espe, id: :plan_obj_espe, rows: 8, data: {provider: :none} %>
          </div>

          <div id="conteudos" class="tab-pane fade in">
            <%= f.text_area :conteudo_prog, id: :plan_conteudo_prog, rows: 10, data: {provider: :none} %>
          </div>

          <div id="pratica" class="tab-pane fade in">
            <%= f.text_area :prat_prof, id: :plan_prat_prof, rows: 10, data: {provider: :none} %>
          </div>

          <div id="metodologias" class="tab-pane fade in">
            <%= f.text_area :met_tec, id: :plan_met_tec, rows: 6, data: {provider: :none} %>
            <%= f.text_area :met_met, id: :plan_met_met, rows: 6, data: {provider: :none} %>
          </div>

          <div id="avaliacao" class="tab-pane fade in">
            <%= f.text_area :avaliacao, id: :plan_avaliacao, data: {provider: :none}, rows: 15 %>
          </div>

          <div id="interdisci" class="tab-pane fade in">
            <%= f.text_area :interdisc, id: :plan_interdisc, rows: 10, data: {provider: :none} %>
          </div>

          <div id="cronograma" class="tab-pane fade in">
            <%= f.text_area :cronograma, id: :plan_cronograma, rows: 10, data: {provider: :none} %>
          </div>

          <div id="info_adicionais" class="tab-pane fade in">
            <%= f.text_area :observacoes, id: :plan_observacoes, rows: 6, data: {provider: :none} %>
          </div>

          <div id="atendimento" class="tab-pane fade in">
            <%= f.text_area :atendimento, id: :plan_atendimento, rows: 1, data: {provider: :none} %>
          </div>

          <div id="referencias" class="tab-pane fade in">
            <% if plan.offer_discipline.grid_discipline.discipline.especial? %>
              <%= label_tag :bib_geral, t('activerecord.attributes.grid_discipline.bib_geral'), class: 'control-label' %>
              <%= text_area_tag :bib_geral, params[:bib_geral] || plan.offer_discipline.grid_discipline.bib_geral, id: :plan_bib_geral, rows: 8, data: {provider: :none}, class: 'form-control', placeholder: 'Referências básicas', autofocus:true %>
              <%= label_tag :bib_espec, t('activerecord.attributes.grid_discipline.bib_espec'), class: 'control-label' %>
              <%= text_area_tag :bib_espec, params[:bib_espec] || plan.offer_discipline.grid_discipline.bib_espec, id: :plan_bib_geral, rows: 8, data: {provider: :none}, class: 'form-control', placeholder: 'Referências complementares', autofocus:true %>
            <% else %>
              <div class="form-group">
                <div class="html_safe_div">
                  <p class="header"><%= label_tag :bib_geral, t('activerecord.attributes.grid_discipline.bib_geral'), class: 'control-label' %></p>
                  <%= plan.offer_discipline.grid_discipline.decorate.bib_geral %>
                </div>
              </div>
              <div class="form-group">
                <div class="html_safe_div">
                  <p class="header"><%= label_tag :bib_espec, t('activerecord.attributes.grid_discipline.bib_espec'), class: 'control-label' %></p>
                  <%= plan.offer_discipline.grid_discipline.decorate.bib_espec %>
                </div>
              </div>
            <% end %>
          </div>

        </div>
      </div>

    </div>

    <div class="col-md-3 col-ld-3">
      <%# Se for atividade remota então não deve aparecer para o professor selecionar %>
      <% if !@plan.offer_discipline.ead_percentual_maximo.nil? && @plan.offer_discipline.ead_percentual_maximo > 0 %>
        <% ead_definido = @plan.ead_percentual_definido.nil? ? @plan.offer_discipline.ead_percentual_maximo : "#{@plan.ead_percentual_definido} %" %>
        <ul class="list-group">
          <li class="list-group-item list-group-item-info" title="Atividade Não Presencial">(%) ANP</li>
          <li class="list-group-item">
            <%= f.select :ead_percentual_definido,
                options_for_select((0..@plan.offer_discipline.ead_percentual_maximo).step(5).collect {|a| "#{a} %"}, "#{ead_definido} %" ),
                { hide_label:true, include_blank: 'Percentual de C.H à distância' },
                { class: 'form-control input-sm', wrapper: { style: 'margin-bottom: 0;'}, 
                  disabled: (('remotas').eql? @plan.offer_discipline.offer.type_offer)
                } 
            %>
          </li>
        </ul>
      <% end %>
      <ul class="list-group">
        <%= render 'list_group_items', plan: @plan %>
        <div class="alert alert-warning well-sm">
          <u><p><strong>Observações</strong></p></u>
          Ao <code>Salvar e enviar para análise</code>, uma nova versão somente poderá ser criada após o plano ser analisado.
        </div>
      </ul>
    </div>

  </div>

  <div class="fixed-on-bottom">
    <%= button_tag type: "submit", class: "btn btn-sm btn-primary", name: 'commit', title: 'Salvar e continuar na tela' do %>
      <i class="fa fa-envelope-o pull-left" aria-hidden="true"></i>
      Salvar
    <% end %>
    <%= button_tag type: "submit", class: "btn btn-sm btn-warning", name: 'commit_depois', title: 'Salvar e continuar mais tarde.' do %>
      <i class="fa fa-envelope-o pull-left" aria-hidden="true"></i>
      Salvar e editar depois
    <% end %>
    <%= button_tag type: "submit", class: "btn btn-sm btn-success", name: 'commit_analise', title: "Salvar, fechar plano, enviar para análise." do %>
      <i class="fa fa-2 fa-check pull-left"></i>
      Salvar e enviar para análise
    <% end %>
    <!-- <= link_to offer_offer_discipline_plans_path(offer_discipline_id: @plan.offer_discipline_id), class: 'btn btn-default' do %>
      <i class="fa fa-2 fa-arrow-circle-left"></i>
      Voltar sem salvar
    < end %> -->

  </div>

<% end %>
