<%- model = Plan %>

<li class="list-group-item list-group-item-info">Grade/Curso</li>
<li class="list-group-item">
  <p><%= "#{plan.offer_discipline.grid_discipline.grid.year}/#{plan.offer_discipline.grid_discipline.grid.course.name}" %></p>
  <p>
    <span class="badge"><%= "#{plan.offer_discipline.grid_discipline.grid.course.course_format.name}" %></span>
    <span class="badge"><%= "#{plan.offer_discipline.grid_discipline.grid.course.course_modality.description}" %></span>
  </p>
</li>
<li class="list-group-item list-group-item-info">
  <%= model.human_attribute_name(:offer_discipline_id) %>
</li>
<li class="list-group-item">
  <p><span><%= "#{plan.offer_discipline.grid_discipline.discipline.sigla} - #{plan.offer_discipline.grid_discipline.discipline.title}" %></span></p>
  <p>
    <span class="badge"><%= "Turma: #{plan.offer_discipline.offer.turma.name}" %></span>
    <span class="badge"><%= "Ano: #{plan.offer_discipline.offer.year}" %></span>
    <% if plan.offer_discipline.offer.semestre %>
      <span class="badge"><%= "Semestre: #{plan.offer_discipline.offer.semestre}" %></span>
    <% end %>
  </p>
</li>

<%= render 'list_group_items_horarios', plan: plan unless plan.id.nil? %>
<%= render 'list_group_items_plano', plan: plan unless plan.id.nil? %>
