<ul class="list-group">
  <li class="list-group-item list-group-item-info">Curso</li>
  <li class="list-group-item">
    <p><%= "#{offer_discipline.grid_discipline.grid.year}/#{offer_discipline.grid_discipline.grid.course.name}" %></p>
    <p>
      <span class="badge"><%= "#{offer_discipline.grid_discipline.grid.course.course_format.name}" %></span>
      <span class="badge"><%= "#{offer_discipline.grid_discipline.grid.course.course_modality.description}" %></span>
    </p>
  </li>
  <li class="list-group-item list-group-item-info">Componente Curricular</li>
  <li class="list-group-item">
    <%= "#{offer_discipline.grid_discipline.discipline.sigla} - #{offer_discipline.grid_discipline.discipline.title}" %>
  </li>
  <li class="list-group-item list-group-item-info">Turma</li>
  <li class="list-group-item">
    <%= offer_discipline.offer.turma %>
  </li>
  <li class="list-group-item list-group-item-info">Carga Horária</li>
  <li class="list-group-item clearfix">
    <span class="badge"><%= offer_discipline.decorate.carga_horaria_aula_text %></span>
    <span class="badge"><%= offer_discipline.decorate.carga_horaria_hora_text %></span>
  </li>
  <li class="list-group-item list-group-item-info">Ano/Semestre</li>
  <li class="list-group-item"><%= offer_discipline.grid_discipline.decorate.ano_semestre %></li>
</ul>
