<li class="list-group-item list-group-item-success">
  Parecer
</li>
<li class="list-group-item">
  <p>
    <%= @plan.decorate.situacao %>
    <span class="badge pull-right">
      <%= "v#{@plan.decorate.versao}" %>
    </span>
  </p>
  <% if is_admin? && @plan.analise? %>
      <%= link_to admin_enviar_aviso_nupe_path(plan_id: @plan.id), class: 'btn btn-block btn-default' do %>
          <i title="Apenas para administradores" class="fa fa-lock pull-left"></i>
          Enviar aviso ao NUPE
      <% end %>
  <% end %>
  <hr>
  <% if @plan.analise? %>
    <% if (can? :aprovar_reprovar, Plan) %>
      <%= form_for(@plan, url: aprovar_offer_offer_discipline_plan_path, method: :post) do |f| %>
        <div class="form-group">
          <%= f.label :parecer, class: 'control-label' %>
          <%= f.text_area :parecer, class: 'form-control', rows: 10, autofocus:true %>
        </div>
        <%= button_tag type: "submit", class: "btn btn-success btn-block" do %>
          <i class="fa fa-2 fa-check pull-left"></i>
          Aprovar
        <% end %>
        <%= button_tag type: "submit", class: "btn btn-danger btn-block", name: 'commit_reprovar' do %>
          <i class="fa fa-2 fa-window-close pull-left"></i>
          Com pendências
        <% end %>
      <% end %>
    <% else %>
      <%= label_tag :parecer, 'Parecer', class: 'control-label' %>
      <%= text_area_tag :parecer, @plan.parecer, rows: 10, disabled:true, class: 'form-control'%>
    <% end %>
  <% end %>
</li>
<% unless @plan.user_parecer.nil? %>
  <li class="list-group-item list-group-item-info">
    <p>Analisado por:</p>
    <p><strong><%= @plan.user_parecer.name %></strong></p>
  </li>
<% end %>
