<li class="list-group-item">
  <div class="btn-group btn-group-justified">
    <% if is_professor_discipline? @plan.user %>
      <!-- <div class="btn-group" role="group">
        <= @plan.decorate.link_index %>
      </div> -->
      <div class="btn-group" role="group">
        <%= @plan.decorate.link_editar %>
      </div>
    <% end %>
    <div class="btn-group" role="group">
      <%= @plan.decorate.link_pdf %>
    </div>
  </div>
</li>

<hr>

<li class="list-group-item list-group-item-success">
  Parecer
</li>
<li class="list-group-item">
  <%= @plan.decorate.situacao %>
  <span class="badge pull-right">
    <%= "v#{@plan.decorate.versao}" %>
  </span>
  <hr>
  <% if @plan.analise? %>
    <% if can? :aprovar_reprovar, Plan %>
      <%= form_for(@plan, url: aprovar_offer_offer_discipline_plan_path, method: :post) do |f| %>
        <div class="form-group">
          <%= f.label :parecer, class: 'control-label' %>
          <%= f.text_area :parecer, class: 'form-control', rows: 10, autofocus:true %>
        </div>
        <div class="btn-group btn-group-justified">
          <% if !@plan.aprovado? %>
            <div class="btn-group" role="group">
              <%= button_tag type: "submit", class: "btn btn-success" do %>
                <i class="fa fa-2 fa-check pull-left"></i>
                Aprovar
              <% end %>
            </div>
          <% end %>
          <% if !@plan.reprovado? %>
            <div class="btn-group" role="group">
              <%= button_tag type: "submit", class: "btn btn-danger", name: 'commit_reprovar' do %>
                <i class="fa fa-2 fa-window-close pull-left"></i>
                Reprovar
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
    <% else %>
      <%= label_tag :parecer, 'Parecer', class: 'control-label' %>
      <%= text_area_tag :parecer, @plan.parecer, rows: 10, disabled:true, class: 'form-control'%>
    <% end %>
  <% end %>
</li>

<hr>
