<ul class="list-group">
  <li class="list-group-item list-group-item-info">Curso</li>
  <li class="list-group-item">
    <p><%= "#{offer_discipline.grid_discipline.grid.year}/#{offer_discipline.grid_discipline.grid.course.name}" %></p>
    <p>
      <span class="badge"><%= "#{offer_discipline.grid_discipline.grid.course.course_format.name}" %></span>
      <span class="badge"><%= "#{offer_discipline.grid_discipline.grid.course.course_modality.description}" %></span>
    </p>
  </li>
  <li class="list-group-item list-group-item-info">Disciplina</li>
  <li class="list-group-item">
    <p>
      <%= "#{offer_discipline.grid_discipline.discipline.sigla} - #{offer_discipline.grid_discipline.discipline.title}" %>
      <span class="badge pull-right"><%= "Turma: #{offer_discipline.offer.turma}" %></span>
    </p>
  </li>
  <li class="list-group-item list-group-item-info">Carga horária</li>
  <li class="list-group-item clearfix">
    <span class="badge"><%= offer_discipline.decorate.carga_horaria_aula_text %></span>
    <span class="badge"><%= offer_discipline.decorate.carga_horaria_hora_text %></span>
  </li>
  <li class="list-group-item list-group-item-info">Ano</li>
  <li class="list-group-item"><%= offer_discipline.grid_discipline.decorate.year || 'Sem Informação' %></li>
  <li class="list-group-item list-group-item-info">Semestre</li>
  <li class="list-group-item"><%= offer_discipline.grid_discipline.decorate.semestre || 'Sem informação' %></li>
</ul>
