<%- if is_professor? %>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><%= "[#{@curso.sigla}] #{@curso.name}" %></h3>
    </div>
    <div class="panel-body">
      <% @ofertasCursoProfessor.each do |ano_semestre, ofertas| %>
        <% por_grupo = ofertas.count >= 3 ? ofertas.count / 3 : 1 %>
        <% ofertas_ano = ofertas.in_groups_of(por_grupo, false) %>

        <ul class="list-group">
          <li class="list-group-item list-group-item-info">
            <h5>
              <span class="badge"><%= "Ano: #{ano_semestre[0]}" %></span>
              <span class="badge"><%= "Semestre: #{ano_semestre[1] || 'Sem informação'}" %></span>
            </h5>
          </li>
          <li class="list-group-item clearfix">
            <% ofertas_ano.each do |k, v| %>

              <div class="col-md-6">
                <ul class="list-group">
                  <li class="list-group-item list-group-item-info"><%= k.grid_discipline.discipline.title %></li>
                  <li class="list-group-item">
                    <%= link_to 'Meus planos', offer_offer_discipline_plans_path(
                        :offer_id => k.offer_id,
                        :offer_discipline_id => k.id), class: 'btn btn-xs btn-primary' %>
                  </li>
                  <% if !k.offer.turma.nil? %>
                    <li class="list-group-item">Turma<span class="badge"><%= "#{k.offer.turma.name}" %></span></li>
                  <% end %>
                </ul>
              </div>
            <% end %>
          </li>
        </ul>
      <% end %>
    </div>
    <div class="panel-footer">

    </div>
  </div>
<%- end %>
