<%- model = Plan %>

<div class="row">

  <div class="col-md-4 col-lg-4">
    <%= render 'list_group_items_index', offer_discipline:@offer_discipline %>
  </div>

  <% if @plans.empty? %>

    <div class="col-md-8">

      <ul class="list-group">
        <li class="list-group-item list-group-item-danger">Nenhum plano de ensino encontrado/ofertado para esta disciplina</li>
      </ul>

      <%= link_to new_offer_offer_discipline_plan_path(offer_discipline_id: params[:offer_discipline_id]),
          class: 'btn btn-primary' do %>
          <i class="fa fa-plus" aria-hidden="true"></i>
          <%= t('.new', :default => t("helpers.titles.new", model: model.model_name.human.downcase )) %>
      <% end %>

    </div>

  <% else %>

    <div class="col-md-8 col-lg-8">

      <div class="well well-sm">
        <%= @plans.first.decorate.link_new '' %>
        <%= @plans.first.decorate.link_gerar_pdf '' %>
      </div>

      <ul class="list-group">
        <li class="list-group-item list-group-item-success clearfix">
          <h4>
            Planos por versão
          </h4>
        </li>
        <li class="list-group-item">
          <div class="table-responsive">
            <table class="table table-condensed table-striped">
              <thread>
                <tr>
                  <th class="text-center">Versão</th>
                  <th class="">Situação</th>
                  <th class="">Ações</th>
                </tr>
              </thread>
              <tbody>
                <% @plans.each do |plan| %>
                  <tr>
                    <td class="text-center" style="vertical-align: middle;">
                      <span class="badge"><%= plan.versao unless plan.versao.nil? %></span>
                    </td>
                    <td class="" style="vertical-align: middle;">
                      <%= plan.decorate.situacao %>
                    </td>
                    <td>
                      <%= plan.decorate.link_show %>
                      <%= plan.decorate.link_editar %>
                      <%= plan.decorate.link_duplicate %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </li>
      </ul>

    </div>

  <% end %>
</div>
