<%- if is_professor? %>

  <!--<div class="well well-sm">
    <= render 'form_search' %>
  </div> -->

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><strong><%= "[#{@curso.sigla}] #{@curso.name}" %></strong></h3>
    </div>
    <div class="panel-body" id="accordion">
      <% if @ofertasCursoProfessor.empty? %>
        <p class="well well-sm">Nenhum componente curricular encontrado.</p>
      <% else %>
        <% @ofertasCursoProfessor.each do |ano_semestre, ofertas| %>
          <% div_id = "collapse#{ano_semestre[0]}#{ano_semestre[1] || ''}" %>

          <ul class="list-group">
            <%= link_to "##{div_id}", class: 'trigger', aria: {expanded: false, controls: 'collapse'},
                data: {toggle: 'collapse', parent: "#accordion", ano: ano_semestre[0], abrir: ano_semestre[0].eql?(Date.today.year) } do %>
              <li class="list-group-item list-group-item-success clearfix">
                <span class="badge pull-left"><%= "Ano: #{ano_semestre[0]}" %></span>
                <% if !ano_semestre[1].blank? %>
                  <span class="badge pull-left"><%= "Semestre: #{ano_semestre[1]}" %></span>
                <% end %>
                <span class="pull-right"><i class="fa fa-arrow-right" aria-hidden="true"></i></span>
              </li>
            <% end %>
            <div id="<%= div_id %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne" aria-expanded="false" style="height: 0px;">
              <div class="controls">
                <li class="list-group-item">
                  <div class="row">
                    <% ofertas.each do |k, v| %>
                      <%= render 'plans/ofertas_professor/course_plans_status', k: k %>
                    <% end %>
                  </div>
                </li>
              </div>
            </div>
          </ul>
        <% end %>
      <% end %>
    </div>
  </div>
<%- end %>
