<%- if is_professor? %>
  <% if @cursos.empty? %>
    <p class="alert alert-info">Nenhum plano de ensino ofertado até o momento para <%= current_user.name %></p>
  <% else %>
    <div class="row">
      <% @cursos.each do |c| %>
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title"><strong><%= c.name %></strong></h3>
            </div>
            <div class="panel-body">
              <% disciplinas_sem_plano = disciplinas_sem_plano_por_curso(c.id) %>
              <div class="table-responsive">
                <table class="table table-striped table-condensed">
                  <thead>
                    <tr>
                      <th class="text-center">Aprovados</th>
                      <th class="text-center">Pendências</th>
                      <th class="text-center">Em análise</th>
                      <th class="text-center">Editando</th>
                      <th class="text-center">Total</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="text-center"><span class="badge alert-success"><%= aprovados_por_curso(c.id) %></span></td>
                      <td class="text-center"><span class="badge alert-danger"><%= reprovados_por_curso(c.id) %></span></td>
                      <td class="text-center"><span class="badge alert-warning"><%= analise_por_curso(c.id) %></span></td>
                      <td class="text-center"><span class="badge alert-info"><%= editando_por_curso(c.id) %></span></td>
                      <td class="text-center"><span class="badge"><%= planos_por_curso(c.id).count %></span></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="panel-footer clearfix">
              <%= link_to planos_curso_path(c.id), class: "btn btn-sm btn-success" do %>
                <i class="fa fa-bars" aria-hidden="true"></i>
                Meus planos
              <% end %>

              <% if !disciplinas_sem_plano.nil? && disciplinas_sem_plano.count > 0 %>
                  <span style="padding: 5px; cursor: help;" title="componente(s) curriculare(s) sem plano de ensino." class="alert alert-warning pull-right"><%= "#{disciplinas_sem_plano.count}" %></span>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>

<%- end %>
