<%- model = Plan %>

<div class="well well-sm">
  <%= @plan.decorate.link_index '' %>
  <%= @plan.decorate.link_editar '' %>
  <%= @plan.decorate.link_pdf '' %>
</div>

<div class="row">
  <div class="col-md-3 col-lg-3">
    <%= render 'list_group_items', plan: @plan %>
  </div>
  <div class="col-md-9 col-lg-9">
    <ul class="list-group">
      <li class="list-group-item list-group-item-success">
        <%= model.human_attribute_name(:obj_espe) %>
      </li>
      <li class="list-group-item"><%= @plan.decorate.obj_espe %></li>

      <li class="list-group-item list-group-item-success">
        <%= model.human_attribute_name(:conteudo_prog) %>
      </li>
      <li class="list-group-item"><%= @plan.decorate.conteudo_prog %></li>

      <li class="list-group-item list-group-item-success">
        <%= model.human_attribute_name(:prat_prof) %>
      </li>
      <li class="list-group-item"><%= @plan.decorate.prat_prof %></li>

      <li class="list-group-item list-group-item-success">
        <%= model.human_attribute_name(:interdisc) %>
      </li>
      <li class="list-group-item"><%= @plan.decorate.interdisc %></li>

      <li class="list-group-item list-group-item-success">
        <%= model.human_attribute_name(:met_tec) %>
      </li>
      <li class="list-group-item"><%= @plan.decorate.met_tec %></li>

      <li class="list-group-item list-group-item-success">
        <%= model.human_attribute_name(:met_met) %>
      </li>
      <li class="list-group-item"><%= @plan.decorate.met_met %></li>

      <li class="list-group-item list-group-item-success">
        <%= model.human_attribute_name(:avaliacao) %>
      </li>
      <li class="list-group-item"><%= @plan.decorate.avaliacao %></li>

      <li class="list-group-item list-group-item-success">
        <%= model.human_attribute_name(:cronograma) %>
      </li>
      <li class="list-group-item"><%= @plan.decorate.cronograma %></li>

      <li class="list-group-item list-group-item-success">
        <%= model.human_attribute_name(:atendimento) %>
      </li>
      <li class="list-group-item"><%= @plan.decorate.atendimento %></li>

    </ul>

  </div>
</div>
