<%- model = LessonRecurring %>

<div class="panel panel-default">
  <div class="panel-heading clearfix">
    <h3 class="panel-title pull-left">
      <%= link_to new_lesson_recurring_path do %>
        <i class="fa fa-plus" aria-hidden="true"></i>
        <%= t '.title', :default => model.model_name.human.pluralize.titleize %>
      <% end %>
    </h3>
    <div class="pull-right">

    </div>
  </div>
  <div class="panel-body">
    <div class="table-responsive">
      <%= content_tag :table, id: "lesson_recurrings_datatable", class: 'table table-striped table-bordered', role: :datatable, data: { url: lesson_recurrings_path(format: :json)} do %>
        <thead>
          <tr>
                        <th><%= model.human_attribute_name(:dtinicio) %></th>
                        <th><%= model.human_attribute_name(:dtfim) %></th>
                        <th><%= model.human_attribute_name(:calendar) %></th>
                        <th><%= model.human_attribute_name(:turma) %></th>
                        <th><%= model.human_attribute_name(:offer) %></th>
                        <th><%= model.human_attribute_name(:active) %></th>
                        <th><%= t('helpers.actions') %></th>
          </tr>
        </thead>
        <tbody>
          <%= content_tag_for(:tr, @lesson_recurrings) do |lesson_recurring| %>
                            <td><%= lesson_recurring.dtinicio %></td>
                            <td><%= lesson_recurring.dtfim %></td>
                            <td><%= lesson_recurring.calendar %></td>
                            <td><%= lesson_recurring.turma %></td>
                            <td><%= lesson_recurring.offer %></td>
                            <td><%= lesson_recurring.active %></td>
                        <td><%= lesson_recurring.decorate.link_show %></td>
            <td><%= lesson_recurring.decorate.link_edit %></td>
            <td><%= lesson_recurring.decorate.link_destroy %></td>
          <% end %>
        </tbody>
      <% end %>
    </div>
  </div>
  <div class="panel-footer clearfix">
    <div class="">
      <%= link_to new_lesson_recurring_path do %>
        <i class="fa fa-plus" aria-hidden="true"></i>
        <%= t('.new', :default => t("helpers.titles.new", model: model.model_name.human.downcase )) %>
      <% end %>
    </div>
    <div class="pull-right">

    </div>
  </div>
</div>
