<%# add navigation links to this file %>
<li><%= link_to t('helpers.links.pages.about'), page_path('about') %></li>
<li class="divider-vertical"></li>

<% if user_signed_in? %>
<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Cadastro <span class="caret"></span></a>
  <ul class="dropdown-menu">
    <li><%= link_to t('.course_formats'), course_formats_path if can? :read, CourseFormat %></li>
    <li><%= link_to t('.course_modalities'), course_modalities_path if can? :read, CourseModality %></li>
    <li><%= link_to t('.course_offers'), course_offers_path if can? :read, CourseOffer %></li>
    <li><%= link_to t('.courses'), courses_path if can? :read, Course %></li>
    <li><%= link_to t('.disciplines'), disciplines_path if can? :read, Discipline %></li>
    <li><%= link_to t('.turmas'), turmas_path if can? :read, Turma %></li>
    <li><%= link_to t('.grids'), grids_path if can? :read, Grid %></li>
  </ul>
</li>
<% end %>
