<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
    <%= stylesheet_link_tag 'email.css' %>
    <style>

    </style>
  </head>

  <body>
    <div id="email-wrapper">

      <div id="header">
        <table>
          <tbody>
            <tr>
              <td width="40px"><%= email_image_tag "logo.png", :class => "logo" %></td>
              <td>
                <h3><%= yield :title %></h3>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div id="body">
        <%= yield %>
      </div>

      <hr>

      <div id="footer">
        <p><strong><%= "#{Rails.application.secrets.sistema_apelido} | #{Rails.application.secrets.sistema_nome}" %></strong></p>
        <img src="http://www.fraiburgo.ifc.edu.br/wp-content/themes/ifc-v2/assets/images/logo-ifc.png" alt="" class="logo">
      </div>

    </div>
  </body>
</html>
